.navbar{
   
    background-color: $fondo-header;
    
    height: 30rem;
    
    
    

    .navbar__img{
        width: 270px;
        height: 180px;
    }

    .navbar__var{
        
        font-size: 1.7rem;


        .navbar__a{

            @include size-a();
            /*color:#eee;
            text-decoration: none;
            display: flex;
            align-items: center;*/
            

        }
        
        
    }
}

.boton{
    width: 90px;
}






    
        
    


