.titulo{
    display: block;
    width: 1000vw;
    color: blanchedalmond;
    text-align: center;

    .titulo_principal{
        font-size: 3.5rem;
        

    }
    
    .titulo_sub{

        font-size: 2rem;


    }
}     